<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js File</title>
</head>
<body>
  <h1>Selecione seu Pokemon Favorito!</h1>
  <p><% for (let i = 0; i < list.length; i++) {%></p>
      <div>
        <h4><%= list[i].name %></h4>
        <img src="<%= list[i].sprites.front_default %>" alt="">
        <img src="<%= list[i].sprites.back_default %>" alt="">
        <img src="<%= list[i].sprites.front_shiny %>" alt="">
        <img src="<%= list[i].sprites.back_shiny %>" alt="">
      </div>
    <% } %>
</body>
</html>
